extends ../layout.jade
block contenido
	div(class="col-md-5 center-block quitar-float espacio-arriba text-left")
		h1 Login administradores
		form(method="POST" action="/admin" style="margin-top:1.5em;")
			div(class="form-group")
				label Contrasena
				input(type="password" name="password" placeholder="Contrasena de administrador" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn bt-info" value="Guardar")