extends ../layout.jade
block contenido
	div(class="text-center")
		h2(class='montserrat') Productos
		p Compra lo que sea
		each product in products
			div(class="col-md-4 col-sm6 col-xs-12 inline-block")
				h3(class="montserrat")= product.title
				img(src="#{ product.imageUrl }" class="col-xs-7 col-md-4 no-float")
				p(style="margin-top:1em;")
				small(class="lato small") #{product.pricing}$RD