extends ../layout.jade
block contenido
	div(class="col-md-5 center-block quitar-float espacio-arriba text-left")
		h1 Agregar producto
		form(method="post" action="/productos" style="margin-top:1.5em;" enctype="multipart/form-data")
			div(class="form-group")
				label Nombre
				input(type="text" name="title" placeholder="Nombre del item" class="form-control")
			div(class="form-group")
				label Descripcion
				textarea(name="description" placeholder="Descripcion del item" class="form-control")
			div(class="form-group")
				label Costo
				input(type="number" name="pricing" placeholder="Precio" class="form-control")
			div(class="form-group")
				label Imagen del producto
				input(type="file" name="image_avatar")
			div(class="form-group")
				label Contrasena
				input(type="password" name="password" placeholder="Contrasena" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")