doctype html
html(lang="en")
	head
		title Muestra tus productos
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(href="css/animate.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
	body
		section(class="full-height text-center" id="main-content")
			div(class="data")
				div(class="col-md-6 center-block quitar-float text-center espacio-arriba")
					img(src="img/Sala-Edad-Media_2.jpg" class="animated fadeIn")
					h1(class="montserrat grande naranja animated fadeIn retraso-1") Up Showcase
					div(class="animated fadeInDown retraso-2")
						h2 Todos conoceran tus productos
						nav(class="mediano")
							a(href="/productos" class="espacio-derecha") Productos
							a(href="/" class="espacio-derecha") Contacto
							a(href="/" class="espacio-derecha") Politicas
		script(src="http://code.jquery.com/jquery-2.1.1.min.js")
		script(src="js/main.js")
