doctype html
html(lang="en")
	head
		title Muestra tus productos
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
		link(href="/css/main.css" rel="stylesheet")
		link(href="css/animate.css" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet")
	body
		nav(class="se-gris padding-largo")
				ul(lass="no-lista row text-center")
					li(class="montserrat col-md-3 inline-block")
						a(href="/" class="naranja mediano") Up Showcase 

					li(class="col-md-3 inline-block")
						a(href="productos") Productos

					li(class="col-md-3 inline-block")
						a(href="/") Politicas
		block contenido				