body{
font-family: 'Lato', sans-serif;
}
img{
	max-width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 100px;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
}
.se-gris{
	background-color: #eee;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.padding-largo{
	padding: 5px 10px;
}
.grande{
	font-size: 4m;
}
.mediano{
	font-size: 1.5em;
}
.naranja{
	color: #ED8912;
}
.retraso-1{
	
	animation-delay: 1s;
}
.retraso-2{
	
	animation-delay: 2s;
	}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.espacio-derecha{
	margin-right: 1em;
}
a,.colorlink{
	color: #FF4900;
}